body{
    background-color: aqua;
}
#their-video{
    position: relative;
    left: 150px;
}
#their-id{
    position: relative;
    bottom: 170px;
}
#chat{
    position: relative;
    bottom: 200px;
}
#username{
    position: relative;
    top:20px ;
    right: 35px;
}
#text{
    position: relative;
    bottom: 20px;
}
#send{
    position: relative;
    bottom: 20px;
}
#my-id{
    position: relative;
    bottom: 20px;
}